header {
  height: 170px;

  .nav-elem {
    border-radius: 15px;
    background: transparent;

    &:hover {
      background: var(--Background-Hight-Plus);
    }
  }

  > nav {
    height: 85px;

    img {
      height: 74px;
    }

    .money {
      justify-content: flex-end;
      display: flex;
      font-size: 0.5rem;
      translate: 10px -10px;

      > span {
        margin-right: 10px;
        font-weight: 100;
        color: var(--Text-paragraphe);
        }

      > img {
        height: 30px !important;
        width: auto;
        translate: -5px -5px;
      }
    }
  }
}
