header {
  height: 170px;

  > nav {
    height: 85px;

    img {
      height: 74px;
    }

    .money {
      justify-content: flex-end;
      display: flex;
      font-size: 1.5rem;
      transform: translateY(-20px);
    }
      span.money {
        margin-right: 10px;
        font-weight: 100;
        color: var(--Text-paragraphe);
      }

      img.money {
        height: 20px !important;
        width: auto;
      }

  }




}